@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.airbnbBtn {
  background-image: linear-gradient(97.69deg,#ff8b5b 1.32%,#ff655a 96.3%);
}

.home {
  background-image: linear-gradient(
    to top right,
    rgba(140, 203, 252, 0.4),
    rgba(140, 203, 252, 0.2),
    #ffffff,
    #ffffff,
    #ffffff,
    rgba(255, 153, 111, 0.2),
    rgba(255, 153, 111, 0.4)
  );
}

.img {
  width: 305;
  height: 160px;
}

.vidBg {
  content: "";
  position: absolute;
  border-radius: 0.5rem;
  top: 1.25rem;
  left: 1.25rem;
  width: calc(100% - 1.25rem);
  height: 100%;
  background-image: linear-gradient(to top right,rgba(140,203,252,.6),#ffffff,rgba(255,153,111,.6));
  --bs-gutter-x: -9%;
  --bs-gutter-y: -1%;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

@media only screen and (min-width: 240px) {
  .vidBg {
    --bs-gutter-x: -8%;
    --bs-gutter-y: 0%;
    height: 82.5%;
  }
}

@media only screen and (min-width: 1024px) {
  .vidBg {
    --bs-gutter-x: -11%;
    --bs-gutter-y: -1%;
    height: 80%;
  }
}

@media screen and (min-width: 1280px) {
  .vidBg {
    --bs-gutter-x: -9%;
    --bs-gutter-y: -1%;
  }
}

@media screen and (min-width: 1535px) {
  .vidBg {
    --bs-gutter-x: -9%;
    --bs-gutter-y: -1%;
  }
}

.portfolio-background {
  background-blend-mode: soft-light;
  background-image: url(https://mybricksfinance.com/background.629fca192f455118.jpg) !important;
  background-color: #eaeaea!important;
}
.gradiant-button {
  background: linear-gradient(97.69deg, #ff8b5b 1.32%, #ff655a 96.3%);
  color: #fff;
  height: 45px;
  border-radius: 8px !important;
}
.teamAvatar {
  transition: all 0.25s ease-in-out;
}
.special:hover {
  transform: scale(1.15, 1.15);
}

ul {
  list-style: none; /* Remove default bullets */
}
body {
  color: #486581;
}
ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #ff775a; /* Change the color */
  font-weight: 900; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  font-size: 22px;
  width: 1.5rem; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.MuiSvgIcon-root {
  width: 50px !important;
  height: 30px !important;
  color: #002159;
  cursor: pointer;
}
